{% extends "model-page.html" %}
    
{% block content  %} 

<div class="container">
    <p class="text-center mt-3">Este é um aplicativo web criado para permitir registro, manutenção e monitoramento de solicitações dos meus clientes. </p>
    <p class="text-center mt-3">Se você está lendo aqui, você é meu cliente e esta solução foi criada pensando em você, para melhor lhe atender. </p>    
    <p class="text-center mt-3"[]>Qualquer dúvida ou sugestão poderá ser registrada através do link abaixo:</p>
    <a class="nav-link text-center" href="/andamento/registrar/?demandaid=1">Dúvidas e Sugestões</a>  
    
</div>    

{% endblock %}

