{% extends "model-page.html"  %}

{% block content %}

    <div class="container">
        <h3>Pagina do teste</h3>
         <form enctype="multipart/form-data" action="submit", method="POST">{% csrf_token %}
            {% csrf_token %}
            <input class="form-control" name="myid" type="text" value="{{ myid }}">
            <input class="form-control" name="myid2" type="hidden" value="{{ myid2 }}">
        
            <button class="btn btn-primary ml-10 mb-3" type="submit">
            Enviar
            </button>            
        
        </form>


   </div> 
{% endblock %}    